{% extends "layout.html" %}

{% block head %}
	{{ parent() }}
{% endblock %}

{% block topbar %}
	{{ parent() }}
{% endblock %}

{% block content %}

<section class="accueil">
<h1> Bienvenue sur le site websphere</h1>

<h2> Conseils</h2>

<p> Bonjour, sur notre site vous allez pouvoir rechercher le développeur Freelance qui sarat réaliser au mieux votre projet.</p>
<p> Si vous êtes Freelance, nous vous invitons à vous enregistrer comme tel sur notre site.</p>
<p> Vous pouvez créer un compte avec à la fois un profil Client et un profil Freelance. </p>
<p> En tant que Freelance vous pourrez donc rechercher d'autre profils Freelance afin de sous-traiter un projet</p>

</section>



			<section class="list_comp">
				<h2>Les différents compétences disponible sur le site sont les suivantes :</h2>
			{{ list | raw }}
			</section>

<br><br><br> <b><p>Pour pouvoir accéder aux fonctionnalités de ce site, veuillez vous connecter après avoir le cas échéant créé votre profil</p></b>

	</section>

{% endblock %}



{% block footer %}
{{ parent() }}
{% endblock %}
