{% extends "layout.html" %}

{% block head %}
	{{ parent() }}
{% endblock %}

{% block topbar %}
	{{ parent() }}
{% endblock %}

{% block content %}

	<section class="choixUser">
			<div class="choix">
				<h2>Chercher un professionnel pour votre projet web</h2>
					<button class="buttonAccueil">
				<a href="/websphereProject/src/?p=lesfreelances"> Trouver un Freelance </a>
					</button>
			</div>
			<div class="choix">
				<h2>Vous êtes Freelance ?</h2>
					<button class="buttonAccueil">
				<a href=""> Cherche un projet  </a>
					</button>
			</div>
	</section>

	<section>
		<h2>Les différents compétences</h2>

		<form role="form" method="POST">
			<div class="user">
			{{ list | raw }}
			<button type="submit" name="submit" class="btn btn-primary">Rechercher</button>
			</div>

		</form>

		<div class="freelances">
			{{ users | raw }}
		</div>
	</section>

{% endblock %}



{% block footer %}
{{ parent() }}
{% endblock %}
