{% extends "layout.html" %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block topbar %}
<header class="header">
    <ul class="main-nav">
        <li><a href="#">Websphere</a></li>
        <li><a href="#">Comment ça marche</a></li>
        <li><a href="/websphereProject/src/?p=deconnexion">Deconnexion de {{ name }} </a></li>
    </ul>
    <ul>
        <li><a href="#">Dashboard client</a></li>
        <li><a href="#">Dashboard freelance</a></li>
    </ul>
</header>
{% endblock %}



{% block content %}
<h2>Liste des projets non acceptés</h2>
<div class="project">
{{ list | raw }}
</div>
{% endblock %}


{% block footer %}
{{ parent() }}
{% endblock %}