{% extends "layout.html" %}

    {% block head %}
    {{ parent() }}
    {% endblock %}

    {% block topbar %}
    {{ parent() }}
    {% endblock %}

{% block content %}
<div class="container">
    <form id="contact" action="" method="post">
        <div class="box-body">
            <h2> Inscription </h2>
            <div class="form-group">
                <label for="nom">Nom</label>
                <input class="inputcss" type="text" name="nom" class="form-control" id="nom"   required>
            </div>

            <div class="form-group">
                <label for="prenom">Prénom</label>
                <input class="inputcss" type="text" name="prenom" class="form-control" id="prenom"  required>
            </div>
            <div class="form-group">
                <label for="mail">Email address</label>
                <input class="inputcss" type="email" name="mail" class="form-control" id="mail" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="inputcss" type="password" name="password" class="form-control" id="password"  required>
            </div>
            <div class="form-group">
                <label for="enterprise_name">Nom de l'entreprise</label>
                <input class="inputcss"  type="text" name="enterprise_name" class="form-control" id="enterprise_name" required>
            </div>
            <div class="form-group">
                {{ list | raw }}
            </div>
            <div class="form-group">
                <label for="siret">Siret</label>
                <input class="inputcss" type="text" name="siret" class="form-control" id="siret" required>
            </div>
            <div class="form-group">
                <label for="city">Ville</label>
                <input class="inputcss" type="text" name="city" class="form-control" id="city" required>
            </div>
            <div class="form-group">
                <label for="iban">Iban</label>
                <input class="inputcss" type="text" name="iban" class="form-control" id="iban" required>
            </div>
            <div class="form-group">
                <label for="phone">phone</label>
                <input class="inputcss" type="text" name="phone" class="form-control" id="phone" required>
            </div>
        </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Inscription</button>
            </div>
    </form>
</div>
          <!-- /.box -->
          {% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}    



          