{% extends "layout.html" %}

    {% block head %}
        {{ parent() }}
    {% endblock %}

    {% block topbar %}
        <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-around position-fixed w-100">
            <div>
                <a href="/websphereProject/src/?p=home"><img src="/websphereProject/src/assets/images/logo_websphere.png" alt="logo_websphere"></a>
            </div>
            <li class="nav-item active">
                <a href="#pop-up" rel="modal:open">Comment ça marche ?</a>
            </li>
            <div class="nav-item">
                <a href="/websphereProject/src/?p=gestionprofil">Modifier mon profil</a>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dashboard
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {{ menu_c_or_f | raw }}
                </div>
            </div>

            <div class="nav-item">
                <a href="/websphereProject/src/?p=deconnexion"> Deconnexion de {{ name }} </a>
            </div>
        </nav>

            {{ msg_pop_up | raw }}

    {% endblock %}

    {% block content %}
        <div class="containerdashC">
            <section class="sidebarleft">
                <form role="form" id="contact" method="post">
                    {{ comp_freelance | raw }}
                    <button type="submit" class="btn btn-primary">Ajouter des compétences</button>
                </form>
            </section>

            <section class="sidebarright">
                <h2>Projets proposés:</h2>
                {{ projet_propose | raw }}

                <h2>Projets acceptés:</h2>
                {{ projet_accept | raw }}
                {{ contact_info | raw }}

                <h2>Projets à valider:</h2>
                {{ projet_a_valider | raw }}

                <h2>Projets terminés:</h2>
                {{ projet_termine | raw }}
            </section>
        </div>
    {% endblock %}


    {% block footer %}
        {{ parent() }}
    {% endblock %}