{% extends "layout.html" %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block topbar %}
<header class="header">
    <ul class="main-nav">
        <li><a href="/websphereProject/src/?p=home">Websphere</a></li>
        <li><a href="/websphereProject/src/?p=gestionprofil">Modifier mon profil</a></li>
        <li><a href="/websphereProject/src/?p=deconnexion"> Deconnexion de {{ name }} </a></li>

    </ul>

        {{ menuclientorfreelance | raw }}
      <!--  <li><a href="#">Dashboard client</a></li>
        <li><a href="#">Dashboard freelance</a></li> -->
</header>
{% endblock %}

{% block content %}

<div class="containerdashC">
        <section class="sidebarleft">
                <h2>Créer un projet</h2>
                {{ formprojet | raw }}
        </section>

        <section class="sidebarright">
            <h2>Mes projets</h2>

                {{ mesprojets | raw }}

            <h2> Historique de mes projets</h2>
            {{ mesprojetstermines | raw }}
        </section>
</div>
{% endblock %}


{% block footer %}
{{ parent() }}
{% endblock %}