{% extends "layout.html" %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block topbar %}
<header class="header">
    <ul class="main-nav">
        <li><a href="#">Websphere</a></li>
        <li><a href="#">Comment ça marche</a></li>
        <li><a href="/websphereProject/src/?p=deconnexion"> Deconnexion de {{ name }} </a></li>
    </ul>

    {{ menuclientorfreelance | raw }}
    <!--  <li><a href="#">Dashboard client</a></li>
      <li><a href="#">Dashboard freelance</a></li> -->
</header>
{% endblock %}

{% block content %}

{{ recapprojet | raw }}

<p> TITRE : {{ nm_title | raw }}</p>
<p> DATE DEBUT {{ nm_start_date | raw }}</p>
<p>DATE FIN{{ nm_end_date | raw }}</p>
<p>PRIX {{ nm_price | raw }}'</p>
<p>CONTENU {{ nm_content | raw }}</p>
<p>Avancement {{ nm_status_name | raw }}</p>



{{ nm_menu_contextuel_projet | raw }}


{% endblock %}


{% block footer %}
{{ parent() }}
{% endblock %}