{% extends "layout.html" %}

    {% block head %}
        {{ parent() }}
    {% endblock %}

    {% block topbar %}
        <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-around position-fixed w-100">
            <div>
                <a href="/websphereProject/src/?p=home"><img src="/websphereProject/src/assets/images/logo_websphere.png" alt="logo_websphere"></a>
            </div>
            <li class="nav-item active">
                <a href="#pop-up" rel="modal:open">Comment ça marche ?</a>
            </li>
            <div class="nav-item">
                <a href="/websphereProject/src/?p=gestionprofil">Modifier mon profil</a>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dashboard
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {{ menu_c_or_f | raw }}
                </div>
            </div>
            <div class="nav-item">
                <a href="/websphereProject/src/?p=deconnexion"> Deconnexion de {{ name }} </a>
            </div>
        </nav>

            {{ msg_pop_up | raw }}

    {% endblock %}


    {% block content %}
        <div class="login">
            <form id="contact" method="post">
                <div class="box-body">
                    <h2> Modification de vos informations </h2>

                        <input class="inputcss" type="hidden" name="name" value="{{ updt_id_user }}" class="form-control" id="updt_id_user"   required>

                    <div class="form-group">
                        <label for="name">Nom</label>
                        <input class="inputcss" type="text" name="name" value="{{ updt_name }}" class="form-control" id="name"   required>
                    </div>

                    <div class="form-group">
                        <label for="firstname">Prénom</label>
                        <input class="inputcss" type="text" name="firstname" value="{{ updt_firstname }}" class="form-control" id="firstname"  required>
                    </div>
                    <div class="form-group">
                        <label for="enterprise_name">Nom de l'entreprise</label>
                        <input class="inputcss"  type="text" name="enterprise_name" value="{{ updt_enterprise_name }}" class="form-control" id="enterprise_name" required>
                    </div>
                    <div class="form-group">
                        {{ updt_list_type | raw }}
                    </div>
                    <div class="form-group">
                        <label for="siret">Siret</label>
                        <input class="inputcss" type="text" name="siret" value="{{ updt_siret }}" class="form-control" id="siret"  required>
                    </div>
                    <div class="form-group">
                        <label for="city">Ville</label>
                        <input class="inputcss" type="text" name="city" value="{{ updt_city }}" class="form-control" id="city"   required>
                    </div>
                    <div class="form-group">
                        <label for="iban">Iban</label>
                        <input class="inputcss" type="text" name="iban" value="{{ updt_iban}}" class="form-control" id="iban"  required>
                    </div>
                    <div class="form-group">
                        <label for="phone">phone</label>
                        <input class="inputcss" type="text" name="phone" value="{{ updt_phone }}" class="form-control" id="phone"   required>
                    </div>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Valider modification du profil</button>
                </div>
            </form>
        </div>
    {% endblock %}


    {% block footer %}
        {{ parent() }}
    {% endblock %}