{% extends "layout.html" %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block topbar %}
<header class="header">
    <ul class="main-nav">
        <li><a href="#">Websphere</a></li>
        <li><a href="#">Comment ça marche</a></li>
        <li><a href="/websphereProject/src/?p=deconnexion"> Deconnexion de {{ name }} </a></li>
    </ul>

    {{ menu_c_or_f | raw }}
</header>
{% endblock %}

{% block content %}

{{ recapprojet | raw }}

<div class="projetselect">
    <h2>Vous gérez le projet : {{ nm_title | raw }} </h2>
    <p> TITRE : {{ nm_title | raw }}</p>
    <p> DATE DEBUT {{ nm_start_date | raw }}</p>
    <p>DATE FIN{{ nm_end_date | raw }}</p>
    <p>PRIX {{ nm_price | raw }}'</p>
    <p>CONTENU {{ nm_content | raw }}</p>
    <p>Avancement {{ nm_status_name | raw }}</p>
</div>

<div class="acceptorrefuse">
{{ accept_or_refuse | raw }}
</div>

<div class="form-check">
{{ list | raw }}
</div>


<div class="glob-free">
 {{ userbyskill | raw }}
</div>


{% endblock %}


{% block footer %}
{{ parent() }}
{% endblock %}