{% extends "layout.html" %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block topbar %}
<header class="header">
    <ul class="main-nav">
        <li><a href="/websphereProject/src/?p=home">Websphere</a></li>
        <li><a href="/websphereProject/src/?p=gestionprofil">Modifier mon profil</a></li>
        <li><a href="/websphereProject/src/?p=deconnexion"> Deconnexion de {{ name }} </a></li>

    </ul>

    {{ menu_c_or_f | raw }}
</header>
{% endblock %}

{% block content %}

{{ recapprojet | raw }}

<div class="projetselect">
    <h2>Vous gérez le projet : {{ nm_title | raw }} </h2>
    <p> Titre: {{ nm_title | raw }}</p>
    <p> Date de début: {{ nm_start_date | raw }}</p>
    <p>Date de fin: {{ nm_end_date | raw }}</p>
    <p>Prix: {{ nm_price | raw }}'</p>
    <p>Contenu: {{ nm_content | raw }}</p>
    <p>Avancement: {{ nm_status_name | raw }}</p>
</div>

<div class="acceptorrefuse">
{{ accept_or_refuse | raw }}
</div>

<div class="form-check">
{{ list | raw }}
</div>


<div class="glob-free">
 {{ userbyskill | raw }}
</div>


{% endblock %}


{% block footer %}
{{ parent() }}
{% endblock %}