{% extends "layout.html" %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block topbar %}
<header class="header">
    <ul class="main-nav">
        <li><a href="#">Websphere</a></li>
        <li><a href="#">Comment ça marche</a></li>
        <li><a href="/websphereProject/src/?p=deconnexion">Deconnexion de {{ name }} </a></li>
    </ul>
</header>
{% endblock %}

{% block content %}

<!--
<div class="content-wrapper">
  <small>{{ projet }}</small>

  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Titre</th>
        <th>Prix</th>
        <th>Description</th>
      </tr>
      </thead>
      <div class="project">
        {{ list | raw }}
      </div>
-->
<div class="allproject">
    {{ formulaire_client | raw }}

    {{ formulaire_freelance | raw }}
</div>


{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}


