<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="assets/css/style.css">
        {% endblock %}        
    </head>
    <body>
            {% block topbar %}
            <header class="header">
                <ul class="main-nav">
                    <li><a href="#">Websphere</a></li>
                    <li><a href="#">Je suis Freelance</a></li>
                    <li><a href="/websphereProject/src/?p=pagelogin">Connexion</a></li>
                    <li><a href="/websphereProject/src/?p=inscription">Inscription</a></li>
                    <li><a href="#">Comment ça marche</a></li>
                </ul>
            </header>
            {% endblock %}      

            {% block content %}
            {% endblock %}

            {% block footer %}
            <section class="main_footer">
                <div class="contact">
                    <h2>Me contacter</h2>
                    <h3> Meunier Pierre</h3>
                    <p> Mail: pierre.meunier@lapiscine.pro</p>
                    <p> Telephone: 064382717*</p>
                </div>

                <div class="about">
                    <h2>A propos</h2>
                    <a>A propos de Websphere</a>
                </div>

                <div class="use">
                    <h2>Utiliser</h2>
                    <a>Créer mon profil freelance</a>
                    <a>Comment ça marche ?</a>
                </div>
            </section>
            {% endblock %}
    </body>
</html>


