<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="assets/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Arimo|Lato&display=swap" rel="stylesheet">
        {% endblock %}        
    </head>
    <body>
            {% block topbar %}
            <header class="header">
                <ul class="main-nav">
                    <li><a href="#">Websphere</a></li>
                    <li><a href="/websphereProject/src/?p=pagelogin">Connexion</a></li>
                    <li><a href="/websphereProject/src/?p=inscription">Inscription</a></li>
                </ul>
            </header>
            {% endblock %}      

            {% block content %}
            {% endblock %}

            {% block footer %}
            <section class="main_footer">
                <div class="contact">
                    <h2>Me contacter</h2>
                    <h3> Meunier Pierre</h3>
                    <a href="mailto:pierre.meunier@lapiscine.pro">Mail : pierre.meunier@lapiscine.pro</a>
                    <p> Telephone: 064382717*</p>
                    <a href="http://pierre-meunier.fr">CV en ligne : http://pierre-meunier.fr</a>
                </div>

                <div class="about">
                    <h2>A propos</h2>
                    <p>Site web visant à mettre en relation <br> professionels du web et clients potentiels</p>
                </div>

                <div class="use">
                    <h2>Contexte :</h2>
                    <p> Création d'un site web dans le cadre de<br> mon examen final à La Piscine.
                    <br>Développé sous PHP/MySql, HTML5/CSS3.
                    </p>
                </div>
            </section>
            {% endblock %}
    </body>
</html>


