<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    </head>
    <body>

    <header class="header">
        <ul class="main-nav">
            <img src="/websphereProject/src/assets/images/logo_websphere.png" alt="logo_websphere">
            <li><a href="/websphereProject/src/?p=pagelogin">Connexion</a></li>
            <li><a href="/websphereProject/src/?p=inscription">Inscription</a></li>
        </ul>
    </header>

        <div class="container">
            <form id="contact" action="" method="post">
                <h3>Connexion Websphere</h3>
                    <p>{{msg}}</p>
                    <fieldset>
                        <input placeholder="Your Email Address" type="email" name="mail" tabindex="2" required>
                    </fieldset>
                    <fieldset>
                        <input class="input100" type="password" name="pass" placeholder="Password" required>
                    </fieldset>
                    <fieldset>
                        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                    </fieldset>
            </form>
        </div>

    <section class="main_footer">
        <div class="contact">
            <h2>Me contacter</h2>
            <h3> Meunier Pierre</h3>
            <a href="mailto:pierre.meunier@lapiscine.pro">Mail : pierre.meunier@lapiscine.pro</a>
            <p> Telephone: 064382717*</p>
            <a href="http://pierre-meunier.fr">CV en ligne : http://pierre-meunier.fr</a>
        </div>

        <div class="about">
            <h2>A propos</h2>
            <p>Site web visant à mettre en relation <br> professionels du web et clients potentiels</p>
        </div>

        <div class="use">
            <h2>Contexte :</h2>
            <p> Création d'un site web dans le cadre de<br> mon examen final à La Piscine.
                <br>Développé sous PHP/MySql, HTML5/CSS3.
            </p>
        </div>
    </section>
    </body>
</html>
