{% extends "layout.html" %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block topbar %}
{{ parent() }}
{% endblock %}


{% block content %}

<section class="main-freelance">

        <h2>Trouver votre freelance selon ses compétences:</h2>
    <form role="form" method="POST">
        <div class="user">
            {{ list | raw }}
        </div>
        <button type="submit" name="freelance" class="btn btn-primary">Rechercher</button>
    </form>


    <div class="freelances">
        {{ users | raw }}
    </div>


</section>



{% endblock %}



{% block footer %}
{{ parent() }}
{% endblock %}