/* css basique */
* {
    box-sizing: border-box;
}
body {
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* end css basique */

/* css topbar */
a, li {
    text-decoration: none;
    color: #C4D1FF
}
.logo {
    margin: 0;
    font-size: 1.45em;
}
.main-nav{
    display:flex;
    justify-content: space-around;
}
.main-nav {
    margin-top: 5px;
}
.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}
.main-nav a {
    font-size: .99em;
    font-family: 'Montserrat', sans-serif;
    color: #C4D1FF
}
.main-nav a:hover {
    color: #718daa;
}
.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #3E4E85;
}
/* end css topbar */

/* css footer */
.main_footer{
    display:flex;
    justify-content: space-around;
}
.main_footer{
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #3E4E85;
}
.main_footer a{
    color: #C4D1FF
}
.use{
    display:flex;
    flex-direction: column;
}
.about{
    display:flex;
    flex-direction: column;
}
/* end css footer */

/* css bouton accueil*/
.buttonAccueil a{
    font-size:1.5em;
    color: whitesmoke;
}
.buttonAccueil{
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%);
    border-radius: 10px;
    width:300px;
    height:100px;
}
.buttonAccueil:hover {
    background-position: right center;
}
.choixUser{
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color:#FFF7E7;
    width:100%;
    height: 300px;
    text-align:center;
}
.choix{
    border: 2px solid grey;
    border-radius:10px;
}
.choixUser h2{
    font-size:1.2em;
}

/* end css bouton accueil*/






/* css formulaire inscription */
.formInscription {
    background-color:#FAFAFA;
    padding:10px;
    width:50%;
    text-align:center;
    margin-left:25%;
}
label {
    margin-top:10px;
    display:block;
}

input, textarea, select, option {
    background-color:#FFF3F3;
}
.formInscription > .inputcss, textarea{
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}
/* end css formulaire inscription */

