/* css basique */
* {
    box-sizing: border-box;
}
body {
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    background-color:darkgrey;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* end css basique */

/* css topbar */
a, li {
    text-decoration: none;
    color: #C4D1FF
}
.logo {
    margin: 0;
    font-size: 1.45em;
}
.main-nav{
    display:flex;
    justify-content: space-around;
}
.main-nav {
    margin-top: 5px;
}
.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}
.main-nav a {
    font-size: .99em;
    font-family: 'Montserrat', sans-serif;
    color: #C4D1FF
}
.main-nav a:hover {
    color: #718daa;
}
.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #3E4E85;
}
/* end css topbar */

/* css footer */
.main_footer{
    display:flex;
    justify-content: space-around;
}
.main_footer{
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: #3E4E85;
}
.main_footer a{
    color: #C4D1FF
}
.use{
    display:flex;
    flex-direction: column;
}
.about{
    display:flex;
    flex-direction: column;
}
/* end css footer */

/* css bouton accueil*/
.buttonAccueil a{
    font-size:1.5em;
    color: whitesmoke;
}
.buttonAccueil{
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%);
    border-radius: 10px;
    width:300px;
    height:100px;
}
.buttonAccueil:hover {
    background-position: right center;
}
.choixUser{
    display:flex;
    justify-content:space-around;
    align-items: center;
    width:100%;
    height: 300px;
    text-align:center;
}
.choixUser h2{
    font-size:1.2em;
    color:white;
}

/* end css bouton accueil*/

/* css formulaire inscription */
.formInscription {
    background-color:#FAFAFA;
    padding:10px;
    width:50%;
    text-align:center;
    margin-left:25%;
}
label {
    margin-top:10px;
    display:block;
}

input, textarea, select, option {
    background-color:#FFF3F3;
}
.formInscription > .inputcss, textarea{
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}
/* end css formulaire inscription */


/* css affichage freelance par compétences */
.freelances{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.free{
    width:30%;

    text-align:center;
    border: 1px solid black;
    margin-bottom:10px;
    background-color: #3E4E85;
}
.free p {
    color:white;
}
.user{
    display:flex;
}
form{
    margin-bottom:10px;
}

/* end affichage freelance par compétences */


.projecttest{
    display:flex;
    justify-content:space-around;
}
.project{
    display:flex;
    text-align:center;
    flex-wrap:wrap;
    justify-content:space-around;
}
.allproject{
    border: 1px solid black;
    width:30%;
    margin-top:10px;

}
.test{
    display:flex;
    flex-direction:column;
}


/* css formulaire connexion */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact input[type="password"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 50px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="date"],
#contact input[type="url"],
#contact input[type="password"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="date"]:hover,
#contact input[type="url"]:hover,
#contact input[type="password"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #3E4E85;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #3E4E85;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

/* end css formulaire connexion */


/* css dashboard client */
.containerdashC{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.sidebarleft{
    width:30%;
    border-right:1px solid black;
    text-align:center;
}
.sidebarright{
    width:70%;
    text-align:center;
}
.projet{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
.allproject{
    width:45%;
    text-align:center;
    background-color:lightgrey;
}
/* end css dashboard client */
